<!DOCTYPE html>
<html lang="en">
<head>
  <title>높임말 교정기</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>[02-15]높임말 교정기</h1>
  <p>조원 : 장윤정, 임리나</p>
</div>

<div class="col-md-12">
    <h3><center><strong>교정 전</strong></center></h3>
          <form method="post" style="font-size:30px;">
              {%csrf_token%}
              <TEXTAREA NAME=txtCom COLS=30 ROWS=3></TEXTAREA>
                  <!--<button type="button" class="btn btn-primary active">Active Primary</button>-->
              <input type = submit class="btn btn-secondary btn-lg" name = "test1" value="검사하기">
          </form>

</div>


</body>
</html>
