<!DOCTYPE html>
<html lang="en">
<head>
  <title>높임말 교정기</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>


<div class="jumbotron text-center">
  <h1>[02-15]높임말 교정기</h1>
  <p>조원 : 장윤정, 임리나</p>
</div>


<div class="col-md-12">
        <h3><center><strong>교정 후</strong></center></h3>

        <div class="form-group">
            <form action="/output/" method="post">
            <textarea class="form-control" rows="10" cols="20" id="output1" wrap=on style="font-size:30px;" readonly >{{string}}</textarea>
            </form>
        </div>

        <form action="/index/" method="get">
        <center>
            <input type = submit class="btn btn-secondary btn-lg" name = "test2" value="돌아가기">
        </center>
        </form>

</div>


</body>
</html>
