<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>결과 분석</title>
      <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <style>
    body{
          background-color:white;
          //background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
          font-family: 'Noto Sans KR', sans-serif;
          height:100vh;
    }
    </style>
</head>
<body>
주어: <span style="color:#FF0D5E;font-weight:bold">{{subj}}</span> <br> 서술어 : <span style="color:#4E0DFF;font-weight:bold"> {{verb}}</span> <br><br>
주어가 <span style="color:#FF0D5E;font-weight:bold">{{subj}}</span><span style="font-weight:bold">(사물)</span>이므로, 해당 주어에는 <span style="font-weight:bold">높임말을 쓸 수 없습니다</span>.<br>
</body>
</html>